<footer>

  <h2> Helsinki Metropolia University of Applied Sceicnes </h2>
  <ul id = "socialmedia">
    <a href = "https://www.linkedin.com/profile/preview?locale=en_US&trk=prof-0-sb-preview-primary-button"><li id = "linkedIn">Linked<span>In</span></li></a>
    <a href = "https://www.youtube.com/channel/UCpnSc8NTyJfzDgqyMDxz9Cw"><li>You<span id = "youtube">Tube</span></li></a>
    <a href = "https://twitter.com/"><li id ="twitter">Twitter</li></a>
   </ul>
     <span id ="copyRight"> Created By Asabeneh &#169; {{getCurrentYear}}</span>
</footer>
