<!DOCTYPE html>
  <html>
    <head>
      <meta charset = "UTF-8">
      <title>About Page</title>
      <link rel="stylesheet" type="text/css" href="css/style.css" />
      <link rel="stylesheet" type="text/css" href="css/mystyle.css">
    </head>

    <body>

{{> header}}

<p> <span id = "bigletter">I</span> am web developer and a teacher. I love coding and teaching. I enjoy listening to audio materials such as podcasts and audio books.
  I am a toastmaster and an enthusiast podcastor.<p>

{{> footer}}
  </body>
</html>
