<!DOCTYPE html>
  <html>
    <head>
      <meta charset = "UTF-8">
      <title>Home</title>
      <link rel="stylesheet" type="text/css" href="css/style.css" />
      <link rel="stylesheet" type="text/css" href="css/mystyle.css">
    </head>

    <body>

{{> header}}

	<h2> {{welcomeMessage}}</h2>
	<p>
		In both the graduate and undergraduate versions of the Complex Web Design Course we cover HTML5, CSS3, responsive web design, and server-side web processing.

	</p>
	<p id="firstProj"></p>
	<details>
		<summary>
			<h3 style="display:inline-block;"> ReactJs Weather App</h3> </summary>
		<h4>React Weather App</h4>
    <p> This weather app will search the current temperature of any location in degree Farhaniet. The application uses the openweathermap.org API</p>
    <a href = "http://asabenehweatherapp.herokuapp.com/#/?_k=wt62it" title = "A Weather app using react and api"> Weather App</a>
	</details>
  <details>
    <summary>
      <h3 style="display:inline-block;"> MeteorJS Todo App</h3> </summary>
    <h3> A multi user TODO app project using MeteorJs</h3>

    <img src="../img/meteor1.png" alt="meteor projects" />
  </details>
	<details>
		<summary>
			<h3 style="display:inline-block;">LeaderBoard a MeteorJS App</h3></summary>

		<h3> A muliti user LeaderBoard app project using MeteorJs</h3>

		<img src="../img/meteor2.png" alt="meteor projects" />

	</details>
	<details>
		<summary>
      
		<h3 style="display:inline-block;">Messaging App</h3></summary>
		<h3> A muliti user Chatapp project using MeteorJs</h3>
		<h4> ChatMe</h4>

		<img src="../img/meteor3.png" alt="meteor projects" />

	</details>
  <details>
    <summary>
      <h3 style="display:inline-block;">NodeJS Weather App</h3> </summary>
    <h4>Node Weather App</h4>
    <p> This weather app will take a location input and will provide the current temperature of any location in degree centigrade. The application uses the weatherforecast.io api and googlemap appi</p>
    <a href = "" title = "A Weather app using nodejs and api"> Weather App</a>
  </details>
  <details>
    <summary>
      <h3 style="display:inline-block;">NodeJS todo App</h3> </summary>
    <h4>To do app</h4>

  </details>
  <details>
    <summary>
      <h3 style="display:inline-block;">Cloning Twitter with Meteor</h3> </summary>
    <h4>Twitter Clone</h4>

  </details>
  <details>
    <summary>
      <h3 style="display:inline-block;">Cloning Facebook with Meteor and React</h3> </summary>
    <h4>Facebook Clone</h4>

  </details>
  <details>
    <summary>
      <h3 style="display:inline-block;">Cloning Whatsup with Meteor and React</h3> </summary>
    <h4>Whatsup Clone</h4>

  </details>
	<details>
		<summary>
			<h3 style="display:inline-block;">Others COMING SOON!</h3></summary>

		<ol>
			<li> MeteorJS + React</li>
			<li> MeteorJs +Angular </li>
			<li> MeteorJs + Blaz</li>

		</ol>
		Projects under progress

	</details>

{{> footer}}
  </body>
</html>
