<!DOCTYPE html>
  <html>
    <head>
      <meta charset = "UTF-8">
      <title>Home</title>
      <link rel="stylesheet" type="text/css" href="css/style.css" />
      <link rel="stylesheet" type="text/css" href="css/mystyle.css">

    </head>

    <body>
{{> header}}
<h2>{{screamIt welcomeMessage}}</h2>

<p>
I am familiar with many programming languages. I have taken many courses from school and outside schools.
Just to mention some of the course, I am familiar with:C, C#, Java, JavaScript, PHP, Python, MeteorJS,ReactJS,MongoDB and NodeJS.
I can develop different apps using MeteorJS, ReactJS and NodeJS JavaScript frameworks.
Currently, I developed different apps using ReactJS front end framework and MeteorJS as a backend.In case, you like to check my <a href = "../img/AsabenehCV.pdf" download>CV</a>
These are some of my certificates for the course I have completed from coursera.

</p>
<details open>
<summary>Course Certificates</summary>
You may have a look to my coursera certificates. Coursera is  great educational platform to take courses from prestigious universities for free.
</details>
<details>
<summary> Web Design</summary>
<ol>
<li> <a href = "../img/html5.pdf" > HTML </a>, <a href = "../img/css3.pdf"> CSSS</a>, <a href = "../img/javascript.pdf"> JavaScript</a>,PHP</li>
<li> Angular </li>
<li> Meteor</li>
<li> ReactJS</li>
<li> NodeJS</li>
</ol>

</details>

<details>
<summary>Data Visualization using Python</summary>
 <ol>
<li> Getting Started Python</li>
<li> Data Structure using Python</li>
<li> Web Data Using Python</li>
<li> Database using python</li>
<li><a href = "../img/Python.pdf"> Python Captstone project </a></li>

</ol>
</details>

<details>
<summary> DataBase</summary>
 <ol>
<li> MS SQL Server</li>
<li> MYSQL </li>
<li> MongoDB</li>

</ol>

</details>

{{> footer}}
  </body>
</html>
